.App{
  background-color:rgb(26, 136, 99) ;
  min-height: 100vh;
}
.container {
  padding-top: 50px;
  background-color:rgb(26, 136, 99) ;
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 30px rgb(6, 49, 49);
}
.login form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input {
  border-radius: 4px;
}

.button {
  padding: 10px;
  width: 50%;
  display: flex;
  align-self: center;
  border: none;
  color: #f8faec;
  background: linear-gradient(rgb(28, 122, 116), rgb(26, 136, 99));
  cursor: pointer;
}
